<div class="text-center">
  <h5 class="header-progress-chart" (click)="changePage(projectname.pjID,projectname.pjName)">{{projectname.pjName}}</h5> 
  <chart class="body-progress-chart" type="pie" [data]="data" [options]="options"></chart>
  
  <button class="btn btn-danger btn-tn btStyle" (click)="onPopup(projectname.pjID)">SSS Progress</button>
</div>
