<div class="row ">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="dataForm" class="form-horizontal">
              <div class="input-group">
                <input type="text" formControlName="value" class="form-control" (keyup)="onSearchApi(dataForm.value)" placeholder="Search for...">
                <span class="input-group-append">
                  <button (click)="onSearchApi(dataForm.value)" class="btn btn-primary  input-group-text ">
                    Search
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div *ngFor="let item of findData" class="col-xxxl-3  col-md-4">
        {{item.pjName}}
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div *ngFor="let project of projectList" class="col-xxxl-3  col-md-4">
        <nb-card>
          <progress-chart [projectname]="project" (pjID)="openDetail(content, project.pjName ,$event)"></progress-chart>
        </nb-card>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">{{modalName}} - SSS Progress</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <sss-progress [sssID]="sssProgress" [sssName]="modalName"></sss-progress>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c()">Close</button>
  </div>
</ng-template>
