@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
  .show-grid {
    .row {
      margin: -0.5rem;
    }
    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;
      div {
        text-align: center;
        background-color: nb-theme(color-bg-active);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }
}


